#!/bin/bash

import bg_coreDaemon.sh  ;$L1;$L2

function complianceEngine::_onCommon()
{
	creq cr_systemGroupExists "compEngine"
	creq cr_systemUserExists -g"compEngine" "compEngine"
	creq cr_systemUserExists -g"compEngine" "collectuser"
	creq cr_systemUserExists -g"compEngine" "checkuser"
	creq cr_systemUserExists -g"compEngine" "applyuser"
}

DeclarePlugin Config complianceEngine:production "
	cmd_run: complianceEngine::production
	goal: enable the compliance engine in production mode. compliance engine runs Collect,Standards, and Config plugins on a schedule
"
function complianceEngine::production()
{
	[ "$creqAction" == "apply" ] && [ "$bgProductionMode" != "production" ] && assertError "This configuration can only be applied in production mode"

	complianceEngine::_onCommon

	creq cr_fileObjHasAttributes -u root       -g root       --perm="--- --- r--"  "/etc/bgsys.conf"
	creq cr_fileObjHasAttributes -u compEngine -g compEngine --perm="rw- r-- r--"  "/var/run/bg-complianceEngine.pid"
	creq cr_fileObjHasAttributes -u root       -g compEngine --perm="--- rw- r--"  "/var/log/bg-complianceEngine"
	creq cr_fileObjHasAttributes -u root       -g compEngine --perm="--- r-- r--"  "/etc/bg-complianceEngine.conf" '
		logVerbosity=1
	'

	creq cr_sudoConfigExists complianceEngine.conf "
		# this sudo configuration is provided by the "${BASH_SOURCE##*/}" plugin
		# See man(1) bg-configCntr to maintain this file
		applyuser ALL=(root) NOPASSWD: ALL
		%compEngine ALL=(collectuser) NOPASSWD: /usr/bin/bg-collectCntr
		%compEngine ALL=(checkuser)   NOPASSWD: /usr/bin/bg-standardsCntr
		%compEngine ALL=(checkuser)   NOPASSWD: /usr/bin/bg-configCntr check*
		%compEngine ALL=(applyuser)   NOPASSWD: /usr/bin/bg-configCntr apply*
	"
	creq cr_daemonAutoStartIsSetTo bg-complianceEngine "default" "enabled"
}



DeclarePlugin Config complianceEngine:development "
	cmd_run: complianceEngine::development
	goal: enable the compliance engine in development mode. compliance engine runs Collect,Standards, and Config plugins on a schedule
"
function complianceEngine::development()
{
	complianceEngine::_onCommon

	creq cr_fileObjHasAttributes -u root       -g compEngine --perm="--- rw- rw-"  "/etc/bgsys.conf"
	creq cr_fileObjHasAttributes -u compEngine -g compEngine --perm="rw- rw- rw-"  "/var/run/bg-complianceEngine.pid"
	creq cr_fileObjHasAttributes -u root       -g compEngine --perm="--- rw- rw-"  "/var/log/bg-complianceEngine"
	creq cr_fileObjHasAttributes -u root       -g compEngine --perm="--- rw- rw-"  "/etc/bg-complianceEngine.conf" '
		logVerbosity=1
	'

	creq cr_sudoConfigExists complianceEngine.conf "
		# this sudo configuration is provided by the "${BASH_SOURCE##*/}" plugin
		# See man(1) bg-configCntr to maintain this file
		applyuser ALL=(root) NOPASSWD: ALL
		%compEngine ALL=(collectuser) NOPASSWD: /usr/bin/bg-collectCntr
		%compEngine ALL=(checkuser)   NOPASSWD: /usr/bin/bg-standardsCntr
		%compEngine ALL=(checkuser)   NOPASSWD: /usr/bin/bg-configCntr check*
		%compEngine ALL=(applyuser)   NOPASSWD: /usr/bin/bg-configCntr apply*
	"
	creq cr_daemonAutoStartIsSetTo bg-complianceEngine "none"
}



DeclarePlugin Config complianceEngine:off "
	cmd_run: complianceEngine::off
	goal: disable the compliance engine. compliance engine runs Collect,Standards, and Config plugins on a schedule
"
function complianceEngine::off()
{
	cr_daemonAutoStartIsSetTo bg-complianceEngine "none"
	creq cr_sudoConfigNotExists complianceEngine.conf
	creq cr_fileObjHasAttributes -u root -g adm --perm="--- rw- r--" /etc/bgsys.conf
	creq cr_systemUserNotExists "applyuser"
	creq cr_systemUserNotExists "checkuser"
	creq cr_systemUserNotExists "collectuser"
	creq cr_systemGroupNotExists "compEngine"
}
