#!/bin/bash

DeclarePlugin Config emergencyAccess:on "
	cmd_run: emergencyAccess:on
	goal: add an emergency access user callled 'localadmin'
"
function emergencyAccess:on()
{
	creq cr_systemUserExists "localadmin"
	creq cr_sudoConfigExists emergencyAccess.conf "
		# this sudo configuration is provided by the "${BASH_SOURCE##*/}" plugin
		# See man(1) bg-configCntr to maintain this file
		localadmin ALL=(ALL) NOPASSWD: ALL
	"
}

DeclarePlugin Config emergencyAccess:off "
	cmd_run: emergencyAccess:off
	goal: remove the emergency access user callled 'localadmin'
"
function emergencyAccess:off()
{
	creq cr_systemUserNotExists "localadmin"
	creq cr_fileNotExists "/etc/sudoers.d/emergencyAccess.conf"
}
