#!/bin/bash

DeclarePlugin Config %assetName% "
	cmd_run:    %assetName%::run
	goal: TODO: <write goal text for this Config plugin>
"

# This function is the declarative code that defines the unit of configuration that the Config Plugin implements
# Typically, it should contain only cr_ statements and should avoid side affects. Any valid bash syntax is allowed
function %assetName%::run() {
	# you can get config settings from the system config. There should be reasonable defaults for all
	local mySettingValue; configGet -R mySettingValue  mySection mySettingName           "myDefaultValue"

	# use cr_ statements to describe the desired configuration
	cr_fileExists "/tmp/testFile-$mySettingValue"
}
