#!/bin/bash

##################################################################################################################################
## On config
DeclarePlugin Config %assetName%:on "
	cmd_run:    %assetName%::on
	goal: TODO: <write goal text for this Config plugin>
"

# Write this function to contain the declarative cr code that defines the unit of configuration that this Config Plugin implements
# Typically, it should contain only cr_ statements and should avoid side affects. Any valid bash syntax is allowed, however.
function %assetName%::on() {
	# you can get config settings from the system config. You should provide reasonable defaults for all global config you add
	local mySettingValue; configGet -R mySettingValue  mySection mySettingName           "myDefaultValue"

	# use cr_ statements to describe the desired configuration
	cr_fileExists "/tmp/testFile-$mySettingValue"
}

##################################################################################################################################
## Off config
DeclarePlugin Config %assetName%:off "
	cmd_run:    %assetName%::off
	goal: TODO: <write goal text for this Config plugin>
"

function %assetName%::off() {
	# The concept of what turning this config off means is up to you. It could be just modifying a config file to make the feature
	# inactive or it could be undoing each step performed in the :on config, or it could be something inbetween.
	:
}
